[Unit]
Description=Serveur Web Yanis
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/html/serveurwebyanis
ExecStart=/usr/bin/node server.js
Restart=always
Environment=NODE_ENV=production
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
